cachetools
fastapi
google-genai
uvicorn
pydantic
python-dotenv
psycopg2-binary
requests
pymongo
msal

# Testing dependencies
pytest
pytest-asyncio
pytest-cov
httpx
mongomock
pytest-mock
freezegun

# Static code analysis
flake8
black
mypy